<html ng-app>
	<head>
		<script src="js/angular-1.0.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/underscore-min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/data.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="css/team-grid.css" type="text/css" media="screen" title="no title" charset="utf-8">
	</head>
	<body>
		<div class="week" ng-controller="MatchController">
			<div class="match" ng-repeat="match in matches">
				<div ng-repeat="team in getTeamsInMatch(match)" class="team team-{{team.selected}}" ng-click="selectTeam(team, match)">
					<img class="team-logo" src="{{team.image}}">
					<div class="team-description">
						<div class="team-name">{{team.displayName}}</div>
						<div class="team-record">{{team.record}}</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>